<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="cylinder" params="density radius length">
	<xacro:property name="wheel_mass" value="${density*pi*radius*radius*length}"/>
	<xacro:property name="Iz_wheel" value="${0.5*wheel_mass*radius*radius}"/>
	<xacro:property name="I_wheel" value="${(1.0/12.0)*wheel_mass*(3*radius*radius + length*length)}"/>
		<inertial>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<mass value="${wheel_mass}"/>
			<inertia ixx="${I_wheel}" ixy="0.0" ixz="0.0" iyy="${I_wheel}" iyz="0.0" izz="${Iz_wheel}"/>
		</inertial>
	</xacro:macro>
</robot>
